In [22]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.calibration import LabelEncoder
import pickle

In [23]:
data  = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [24]:
data = data.drop(['RowNumber',"CustomerId","Surname"],axis=1)

In [25]:
le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [26]:
ohe = OneHotEncoder()
geo_enc = ohe.fit_transform(data[['Geography']])
geo_enc

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [27]:
geo_enc.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [28]:
ohe.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [29]:
geo_enc_df = pd.DataFrame(geo_enc.toarray(),columns=ohe.get_feature_names_out(['Geography']))

In [30]:
data = pd.concat([data.drop('Geography',axis=1),geo_enc_df],axis=1)

In [31]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [32]:
with open('label_encoder_gender.pkl','wb')  as f:
    pickle.dump(le,f)
with open('ohe_geo.pkl','wb')  as f:
    pickle.dump(ohe,f)

In [33]:
X = data.drop('Exited',axis=1)
Y = data['Exited']

In [43]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=43)
scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

In [44]:
X_train

array([[ 1.5178518 ,  0.90134069, -0.85641715, ...,  1.00125078,
        -0.57715782, -0.57850497],
       [ 1.0209782 ,  0.90134069, -0.28681727, ..., -0.99875078,
        -0.57715782,  1.72859362],
       [ 2.02507693, -1.1094584 , -0.09695065, ..., -0.99875078,
        -0.57715782,  1.72859362],
       ...,
       [ 0.48269847, -1.1094584 , -1.14121709, ..., -0.99875078,
         1.73262835, -0.57850497],
       [ 0.66902607,  0.90134069,  0.56758255, ..., -0.99875078,
        -0.57715782,  1.72859362],
       [-0.27296346,  0.90134069, -0.57161721, ..., -0.99875078,
         1.73262835, -0.57850497]])

In [45]:
with open('scalar.pkl','wb') as f:
    pickle.dump(scalar,f)

In [46]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [47]:
# build model

model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
])

In [48]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [49]:
import tensorflow as tf
opt = tf.keras.optimizers.Adam(learning_rate=0.0001)
loss = tf.keras.losses.BinaryCrossentropy()

In [50]:
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [51]:
log_dir = 'logs/fit/'
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [53]:
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)
history = model.fit(
    X_train,Y_train,validation_data=(X_test,Y_test),epochs=100,
    callbacks = [tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5644 - accuracy: 0.7770 - val_loss: 0.5054 - val_accuracy: 0.7950
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4828 - accuracy: 0.7981 - val_loss: 0.4671 - val_accuracy: 0.7995
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4537 - accuracy: 0.8034 - val_loss: 0.4490 - val_accuracy: 0.8065
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4368 - accuracy: 0.8104 - val_loss: 0.4384 - val_accuracy: 0.8120
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4258 - accuracy: 0.8150 - val_loss: 0.4319 - val_accuracy: 0.8155
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4179 - accuracy: 0.8188 - val_loss: 0.4265 - val_accuracy: 0.8230
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4114 - accuracy: 0.8226 - val_loss: 0.4219 - val_accuracy: 0.8265
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4059 - accuracy: 0.8282 - val_loss: 0.4177 - val_accuracy: 0.8275
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4006 - accuracy: 0.8305 - val_loss: 0.4131 - val_accuracy: 0.8300
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3951 - accuracy: 0.8317 - val_loss: 0.4096 - val_accuracy: 0.8320
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3905 - accuracy: 0.8351 - val_loss: 0.4042 - val_accuracy: 0.8340
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3854 - accuracy: 0.8371 - val_loss: 0.3994 - val_accuracy: 0.8365
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3804 - accuracy: 0.8414 - val_loss: 0.3952 - val_accuracy: 0.8395
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3758 - accuracy: 0.8440 - val_loss: 0.3906 - val_accuracy: 0.8410
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3715 - accuracy: 0.8451 - val_loss: 0.3868 - val_accuracy: 0.8405
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3673 - accuracy: 0.8474 - val_loss: 0.3830 - val_accuracy: 0.8430
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3637 - accuracy: 0.8482 - val_loss: 0.3796 - val_accuracy: 0.8450
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3601 - accuracy: 0.8516 - val_loss: 0.3763 - val_accuracy: 0.8485
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3571 - accuracy: 0.8536 - val_loss: 0.3741 - val_accuracy: 0.8505
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3544 - accuracy: 0.8553 - val_loss: 0.3713 - val_accuracy: 0.8540
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3518 - accuracy: 0.8571 - val_loss: 0.3689 - val_accuracy: 0.8540
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3495 - accuracy: 0.8569 - val_loss: 0.3666 - val_accuracy: 0.8550
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3476 - accuracy: 0.8591 - val_loss: 0.3649 - val_accuracy: 0.8580
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3456 - accuracy: 0.8596 - val_loss: 0.3633 - val_accuracy: 0.8590
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3439 - accuracy: 0.8591 - val_loss: 0.3618 - val_accuracy: 0.8585
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3424 - accuracy: 0.8601 - val_loss: 0.3612 - val_accuracy: 0.8590
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8612 - val_loss: 0.3600 - val_accuracy: 0.8590
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8606 - val_loss: 0.3585 - val_accuracy: 0.8595
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8612 - val_loss: 0.3578 - val_accuracy: 0.8575
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3376 - accuracy: 0.8615 - val_loss: 0.3572 - val_accuracy: 0.8575
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3368 - accuracy: 0.8620 - val_loss: 0.3565 - val_accuracy: 0.8600
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8615 - val_loss: 0.3558 - val_accuracy: 0.8580
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3350 - accuracy: 0.8619 - val_loss: 0.3554 - val_accuracy: 0.8565
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3342 - accuracy: 0.8621 - val_loss: 0.3550 - val_accuracy: 0.8570
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8629 - val_loss: 0.3542 - val_accuracy: 0.8595
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8622 - val_loss: 0.3538 - val_accuracy: 0.8575
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8627 - val_loss: 0.3535 - val_accuracy: 0.8590
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3315 - accuracy: 0.8635 - val_loss: 0.3535 - val_accuracy: 0.8575
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3309 - accuracy: 0.8639 - val_loss: 0.3525 - val_accuracy: 0.8600
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3302 - accuracy: 0.8630 - val_loss: 0.3525 - val_accuracy: 0.8585
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3297 - accuracy: 0.8649 - val_loss: 0.3523 - val_accuracy: 0.8585
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3291 - accuracy: 0.8648 - val_loss: 0.3518 - val_accuracy: 0.8585
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3286 - accuracy: 0.8656 - val_loss: 0.3514 - val_accuracy: 0.8590
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3283 - accuracy: 0.8650 - val_loss: 0.3512 - val_accuracy: 0.8585
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3276 - accuracy: 0.8661 - val_loss: 0.3509 - val_accuracy: 0.8590
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3272 - accuracy: 0.8656 - val_loss: 0.3506 - val_accuracy: 0.8605
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3267 - accuracy: 0.8652 - val_loss: 0.3507 - val_accuracy: 0.8600
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3263 - accuracy: 0.8674 - val_loss: 0.3505 - val_accuracy: 0.8600
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3259 - accuracy: 0.8648 - val_loss: 0.3507 - val_accuracy: 0.8605
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3254 - accuracy: 0.8655 - val_loss: 0.3500 - val_accuracy: 0.8600
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3250 - accuracy: 0.8669 - val_loss: 0.3497 - val_accuracy: 0.8590
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3247 - accuracy: 0.8659 - val_loss: 0.3498 - val_accuracy: 0.8595
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3242 - accuracy: 0.8664 - val_loss: 0.3495 - val_accuracy: 0.8615
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3238 - accuracy: 0.8666 - val_loss: 0.3494 - val_accuracy: 0.8595
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3235 - accuracy: 0.8675 - val_loss: 0.3495 - val_accuracy: 0.8620
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3232 - accuracy: 0.8668 - val_loss: 0.3492 - val_accuracy: 0.8605
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3228 - accuracy: 0.8674 - val_loss: 0.3493 - val_accuracy: 0.8620
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3223 - accuracy: 0.8677 - val_loss: 0.3489 - val_accuracy: 0.8615
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3220 - accuracy: 0.8680 - val_loss: 0.3489 - val_accuracy: 0.8620
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3216 - accuracy: 0.8687 - val_loss: 0.3487 - val_accuracy: 0.8620
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3214 - accuracy: 0.8668 - val_loss: 0.3488 - val_accuracy: 0.8600
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3210 - accuracy: 0.8686 - val_loss: 0.3490 - val_accuracy: 0.8620
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3208 - accuracy: 0.8677 - val_loss: 0.3487 - val_accuracy: 0.8615
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3203 - accuracy: 0.8687 - val_loss: 0.3483 - val_accuracy: 0.8620
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3200 - accuracy: 0.8686 - val_loss: 0.3483 - val_accuracy: 0.8610
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3196 - accuracy: 0.8708 - val_loss: 0.3485 - val_accuracy: 0.8605
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3193 - accuracy: 0.8690 - val_loss: 0.3487 - val_accuracy: 0.8600
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3190 - accuracy: 0.8694 - val_loss: 0.3488 - val_accuracy: 0.8610
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3186 - accuracy: 0.8689 - val_loss: 0.3483 - val_accuracy: 0.8605
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3183 - accuracy: 0.8702 - val_loss: 0.3480 - val_accuracy: 0.8590
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3181 - accuracy: 0.8683 - val_loss: 0.3483 - val_accuracy: 0.8620
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3179 - accuracy: 0.8701 - val_loss: 0.3480 - val_accuracy: 0.8620
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3174 - accuracy: 0.8694 - val_loss: 0.3476 - val_accuracy: 0.8580
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3172 - accuracy: 0.8687 - val_loss: 0.3477 - val_accuracy: 0.8590
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3170 - accuracy: 0.8699 - val_loss: 0.3477 - val_accuracy: 0.8585
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3167 - accuracy: 0.8695 - val_loss: 0.3479 - val_accuracy: 0.8590
Epoch 77/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3164 - accuracy: 0.8705 - val_loss: 0.3476 - val_accuracy: 0.8580
Epoch 78/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3162 - accuracy: 0.8696 - val_loss: 0.3473 - val_accuracy: 0.8575
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3157 - accuracy: 0.8696 - val_loss: 0.3473 - val_accuracy: 0.8565
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3156 - accuracy: 0.8696 - val_loss: 0.3475 - val_accuracy: 0.8595
Epoch 81/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3153 - accuracy: 0.8702 - val_loss: 0.3475 - val_accuracy: 0.8600
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3151 - accuracy: 0.8701 - val_loss: 0.3472 - val_accuracy: 0.8580
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3148 - accuracy: 0.8709 - val_loss: 0.3471 - val_accuracy: 0.8590
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3147 - accuracy: 0.8699 - val_loss: 0.3472 - val_accuracy: 0.8595
Epoch 85/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3143 - accuracy: 0.8712 - val_loss: 0.3475 - val_accuracy: 0.8570
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3139 - accuracy: 0.8698 - val_loss: 0.3480 - val_accuracy: 0.8605
Epoch 87/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3138 - accuracy: 0.8720 - val_loss: 0.3475 - val_accuracy: 0.8570
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3135 - accuracy: 0.8714 - val_loss: 0.3472 - val_accuracy: 0.8590
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3133 - accuracy: 0.8711 - val_loss: 0.3479 - val_accuracy: 0.8610
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3132 - accuracy: 0.8708 - val_loss: 0.3471 - val_accuracy: 0.8590
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3130 - accuracy: 0.8701 - val_loss: 0.3476 - val_accuracy: 0.8595
Epoch 92/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3126 - accuracy: 0.8723 - val_loss: 0.3473 - val_accuracy: 0.8585
Epoch 93/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3125 - accuracy: 0.8711 - val_loss: 0.3473 - val_accuracy: 0.8570
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3121 - accuracy: 0.8712 - val_loss: 0.3471 - val_accuracy: 0.8590
Epoch 95/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3120 - accuracy: 0.8711 - val_loss: 0.3474 - val_accuracy: 0.8570
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3117 - accuracy: 0.8706 - val_loss: 0.3477 - val_accuracy: 0.8590
Epoch 97/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3115 - accuracy: 0.8721 - val_loss: 0.3472 - val_accuracy: 0.8570
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3113 - accuracy: 0.8700 - val_loss: 0.3468 - val_accuracy: 0.8600
Epoch 99/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3110 - accuracy: 0.8719 - val_loss: 0.3470 - val_accuracy: 0.8595
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3109 - accuracy: 0.8721 - val_loss: 0.3471 - val_accuracy: 0.8575

In [54]:
model.save('model.h5')

c:\Users\Sudeep\Documents\Complete GenAI\Project-1 ANN CLASSIFICATION\.venv\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [55]:
%load_ext tensorboard

In [56]:
%tensorboard --logdir logs/fit